*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;

}
.main{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 60%;
    background-color: #e8e8e8;
    padding: 50px;
    border: 1px solid #333;
}


.row{
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
   
}
.col-3{
   flex:1;
  
   
}
.btn{
    width: 100%;
    height: 50px;
   
    box-sizing: border-box;
    outline: none;
    border: 1px solid #333;
    cursor: pointer;


}
 .top{
    background-color: rgb(161, 161, 221);

}
.right{
    background-color: rgb(196, 100, 188);
    

}
.equal{
    background-color: rgb(204, 113, 113);
   
   
}

.text-area{
    height: 50px;
    width: 100%;
    margin-bottom:  20px ;
    pointer-events: none;
    outline: none;
}
@media (max-width:600px){
    .main{
        width: 85%;
    }
}
